apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - ../../base

# Development-specific configurations
replicas:
  - name: {{ project_slug | replace("_", "-") }}-web
    count: 1
  - name: {{ project_slug | replace("_", "-") }}-celery-worker
    count: 1

# Development-specific patches
patches:
  - target:
      kind: Deployment
      name: {{ project_slug | replace("_", "-") }}-web
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
