# Changes here will be overwritten by Copier
_src_path: {{ _copier_conf.src_path }}
_commit: {{ _copier_conf.vcs_ref_hash }}
project_type: {{ project_type }}
project_name: {{ project_name }}
project_slug: {{ project_slug }}
project_description: {{ project_description }}
author_name: {{ author_name }}
author_email: {{ author_email }}
git_repository_url: {{ git_repository_url }}
python_version: {{ python_version }}
dependency_manager: {{ dependency_manager }}
database: {{ database }}
cache: {{ cache }}
api_style: {{ api_style }}
frontend: {{ frontend }}
background_tasks: {{ background_tasks }}
use_channels: {{ use_channels }}
auth_backend: {{ auth_backend }}
use_2fa: {{ use_2fa }}
observability_level: {{ observability_level }}
use_sentry: {{ use_sentry }}
deployment_targets: {{ deployment_targets }}
media_storage: {{ media_storage }}
security_profile: {{ security_profile }}
use_sops: {{ use_sops }}
use_teams: {{ use_teams }}
use_stripe: {{ use_stripe }}
{% if use_stripe -%}
stripe_mode: {{ stripe_mode }}
{% endif -%}
use_search: {{ use_search }}
use_i18n: {{ use_i18n }}
ci_provider: {{ ci_provider }}
license: {{ license }}
